<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Заголовок страницы</title>
    </head>
    <body>

    <div>
        <h1>Это заголовок H1</h1>
        <p>Текст под заголовком первого уровня.</p>
    </div>

    <div>
        <h2>Это заголовок H2</h2>
        <p>Текст под заголовком второго уровня.</p>
    </div>

    <div>
        <h3>Это заголовок H3</h3>
        <p>Текст под заголовком третьего уровня.</p>
    </div>
    <div>
        <a href="/firstapp/second_page">Перейти на 2 страницу</a>
    </div>
</body>
</html>