{% extends 'base.html' %}
{% block title %}Условия аренды{% endblock %}

{% block content %}
<h2 class="mb-4">Условия аренды</h2>
<ul class="list-group">
    <li class="list-group-item">📄 Возраст от 21 года и стаж от 2 лет</li>
    <li class="list-group-item">🕒 Минимальный срок аренды — 1 сутки</li>
    <li class="list-group-item">💳 Залог — от 5 000 ₽ (возвращается)</li>
    <li class="list-group-item">📌 Паспорт и водительское удостоверение — обязательно</li>
    <li class="list-group-item">🔧 Страховка и тех. обслуживание включены</li>
</ul>
{% endblock %}
